asn1crypto==1.5.1
asttokens==3.0.0
attrs==25.3.0
boto3==1.37.28
botocore==1.37.28
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
comm==0.2.2
cryptography==44.0.2
databricks-connect==15.4.8
databricks-sdk==0.49.0
databricks-sql-connector==4.0.2
debugpy==1.8.13
decorator==5.2.1
et-xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
google-auth==2.38.0
googleapis-common-protos==1.70.0
greenlet==3.2.1
grpcio==1.71.0
grpcio-status==1.71.0
idna==3.10
ipykernel==6.29.5
ipython==8.36.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-client==8.6.3
jupyter-core==5.7.2
lz4==4.4.4
matplotlib-inline==0.1.7
narwhals==1.33.0
nbformat==5.10.4
nest-asyncio==1.6.0
numpy==1.26.4
oauthlib==3.2.2
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
platformdirs==4.3.7
plotly==6.0.1
prompt-toolkit==3.0.50
protobuf==5.29.4
psutil==7.0.0
psycopg==3.2.7
psycopg-binary==3.2.7
psycopg-pool==3.2.6
ptyprocess==0.7.0
pure-eval==0.2.3
py4j==0.10.9.7
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pygments==2.19.1
pyjwt==2.10.1
pyopenssl==25.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
pyzmq==26.4.0
referencing==0.36.2
requests==2.32.3
rpds-py==0.24.0
rsa==4.9
s3transfer==0.11.4
setuptools==80.3.1
six==1.17.0
snowflake-connector-python==3.14.0
sortedcontainers==2.4.0
sqlalchemy==2.0.40
stack-data==0.6.3
thrift==0.20.0
tomlkit==0.13.2
tornado==6.4.2
traitlets==5.14.3
typing-extensions==4.13.1
tzdata==2025.2
urllib3==2.3.0
wcwidth==0.2.13
